body {
	background-color: skyblue;
	color: whitesmoke;
	font-size: 20px;

}


#pageHeader{
	display: grid;
	grid-template-columns: auto;
	border-color: darkblue;
	color: darkred;
	font-size: 100px;
	border-style: double;
	border-width: 40px;
	border-color: darkblue;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
	text-align: center;
}


#contentJude{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 70px;
	color: darkblue;
	padding: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
}

h1{
	font-style: italic;
	color: darkred;

}

h2{
	padding: 0.002px;
	margin: 5px;
	padding: 10px;
}

ul{
	list-style-type: none;
	margin: 30px;

}

.headerImageContainer{
	background-image: url('');
	background-size: cover;
	background-position: center;
	height: 100px;
	width: 100%;
}





