body {
	background-color: skyblue;
	color: whitesmoke;
	font-size: 20px;

}


#pageHeader{
	display: grid;
	grid-template-columns: auto;
	border-color: darkblue;
	color: darkred;
	font-size: 100px;
	margin: 30px;
	border-style: double;
	border-width: 40px;
	border-color: darkblue;
}


#contentJude{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 70px;
	color: darkblue;
	padding: 30px;
	margin: 30px;
}

h1{
	font-style: italic;
	margin: 10px;
}

h2{
	padding: 0.002px;
	margin: 10px;
}

ul{
	list-style-type: none;
	margin: 30px;

}